body {
  background-color: #1a1a1a;
  color:#fefefe;
    font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;

}

h1 {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
  font-weight: 600;
}

h2{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
:root {
--ani: linear(0, 0.0093, 0.0346, 0.0725, 0.1198, 0.1739, 0.2325, 0.2937, 0.3559, 0.4178, 0.4783, 0.5367, 0.5922, 0.6445, 0.6931, 0.738, 0.779, 0.8162, 0.8495, 0.8792, 0.9054, 0.9283, 0.9481, 0.965, 0.9794, 0.9913, 1.0012, 1.0091, 1.0154, 1.0202, 1.0237, 1.0261, 1.0276, 1.0283, 1.0283, 1.0279, 1.027, 1.0258, 1.0244, 1.0228, 1.0211, 1.0193, 1.0176, 1.0158, 1.0141, 1.0125, 1.011, 1.0095, 1.0082, 1.007, 1.0058, 1.0048, 1.0039, 1.0031, 1.0024, 1.0018, 1.0013, 1.0008, 1.0004, 1.0001, 0.9999, 0.9997, 0.9995, 0.9994, 0.9993, 0.9992, 0.9992, 0.9992, 0.9992, 0.9992, 0.9992, 0.9993, 0.9993, 0.9994, 0.9994, 0.9995, 0.9995, 0.9996, 0.9996, 0.9997, 0.9997, 0.9997, 0.9998, 0.9998, 0.9998, 0.9999, 0.9999, 0.9999, 0.9999, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
}


.k-div-scrollable {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
